.button{
    width:125px;
    height: 40px;
    text-align: center;
    font-family: monospace;
    line-height: 40px;
    color:red;
    border-radius: 20px;
}
.primary{
     background-color:blue;
    }
.danger{
    background-color: brown;
}
.success{
    background-color:green;
}
